
/* General Page Styling */
body {
  margin: 0;
  background-color: #FCF7E4;
  height: 100vh;
}

/* 
#modeToggle {
  display: none;
}

.toggle-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background: #ddd;
  border-radius: 5px;
  margin: 20px;
}

#modeToggle:checked ~ .container {
  background-color: black;
  color: white;
}

#modeToggle:checked ~ .toggle-label {
  background: #555;
  color: white;
}

 */


nav{
  width: 100%;
  margin-bottom: 100px;
}

footer{
  width: 100%;
}


/* Hero Section Container */
.hero-container {
  width: 100%;
  height: 65vh; 
  background-color: #FCF7E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Centered Text Content */
.hero-text {
  text-align: center;
  padding: 20px;
  color:#2d1c0a; 
}

.hero-text h4 {
  font-family: 'Rochester', cursive;
  font-size: 30px;
  margin: 0;
}

.hero-text h1 {
  font-size: 125px; 
  font-family: 'Rochester', cursive;
  margin-bottom: 25px;
  text-shadow: 4px 4px 5px #a4dc6f,4px 4px 5px #8aba5e;
}

.hero-text p {
  font-family: "Montserrat", sans-serif;  ;
  font-size: 16.5px;
  margin-top: 8px;
  font-weight: 540;
  line-height: 2;
}

/* Video Elements */
.hero-video {
  width: 27%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Adjusting Video Alignment */
.hero-video.left {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  overflow: hidden;
}

.hero-video.right {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  right: 0;
  overflow: hidden;
}
a{
  color: #FCF7E4;
}
.start{
  font-family: "Montserrat", sans-serif;
  background-color:#2d1c0a; 
  color: #FCF7E4;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.start:hover{
  background-color:#70974C; 
  color: #FCF7E4;
}
/* Responsive Design for Medium Screens */
@media (max-width: 1024px) {
  .hero-video {
      width: 50%;
  }

  .hero-text h1 {
      font-size: 120px;
  }
}

/* Responsive Design for Small Screens (Mobile) */
@media (max-width: 768px) {
  nav{
    margin-bottom: 15px;
  }
  .hero-container {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }

  .hero-video {
      width: 90%;
      height: auto;
      border-radius: 10px;

  }
  .hero-video.left {
    display: none;
  }
  .hero-video.right {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  .hero-text {
      width: 100%;
      text-align: center;
      padding: 10px;
  }

  .hero-text h1 {
      font-size: 80px;
  }

  .hero-text p {
      font-size: 17px;
  }
}