# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
*/migrations/
!*/migrations/__init__.py

# SQLite database
db.sqlite3

# Virtual environment
env/
venv/
ENV/
.venv/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/
.coverage

# MyPy & Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets (optional)
.env
.env.*

# Node stuff (if using React or frontend in same repo)
node_modules/
build/
dist/
