:root {
  --bg-color: #FCF7E4;
  --primary-color: #70974C;
  --secondary-color: #F7AF89;
  --font-color: #2d1c0a;
}
.add-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}

.new-recipe {
  padding: 15px 40px;
  font-size: 18px;
}

.new-recipe:hover {
  background-color: var(--primary-color);
}

button {
  padding: 8px 20px;
}
.remove{
  font-size: 18px;
  margin: auto;
  margin-top: 5px;
  background-color: transparent;
  color: #2d1c0a;
}
.remove:hover{
  background-color: transparent;
  color:rgb(183, 19, 19);
}