:root{
  --bg-color: rgb(252, 247, 247);
  --primary-color:rgba(255, 255, 255, 0.587);
  --secondary-color: #FCF7E4;
  --font-color:#2d1c0a;
}
.add-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}

.new-recipe {
  padding: 15px 35px;
  font-size: 18px;
  margin : 20px;
}

.new-recipe:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

.new-recipe:hover a  {
  color: var(--font-color);
}

button {
  padding: 8px 20px;
}

button:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}
button:hover a {
  color: var(--font-color);
}

.remove{
  font-size: 18px;
  margin: auto;
  margin-top: 5px;
  background-color: transparent;
  color: #2d1c0a;
}
.remove:hover{
  background-color: transparent;
  color:rgb(183, 19, 19);
}