:root{
    --bg-color: rgb(252, 247, 247);
    --primary-color:rgba(255, 255, 255, 0.587);
    --secondary-color: #FCF7E4;
    --font-color:#2d1c0a;
}

body {
    background-color: var(--bg-color);
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 40px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    font-weight: bold;
    color: var(--font-color);
}
#Complaint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 40px;
    text-align: center;
}

.complaint-card {
    width: 400px;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.44);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.05);
    margin:10px;
    text-align: left;
}

.complaint-card h3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--font-color);
}

.complaint-card p {
    margin-bottom: 10px;
    font-size: 15px;

}

.replyBtn {
    display: flex;
    justify-content: center;
}
.replyBtn button{
    width: 40%;
    padding: 5px 50px;
    font-size: 14px;
    color: var(--bg-color);
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transform: scale(1);
    transition: all 0.3s ease;
}

p.no-complaints-message {
    text-align: center;
    font-size: 25px;
    color: #2d1c0a;
    margin-top: 50px;
  }
.replyBttn:hover {
    color: var(--font-color);
    background-color: var(--bg-color);
    border: 1px solid var(--font-color);
    transform: scale(1.05);
}

.deleteBttn:hover {
    color: var(--bg-color);
    background-color: #d33;
    border: 1px solid #d33;
}

.swal-ok-btn {
    background-color: var(--font-color);
    color: var(--bg-color);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .swal-ok-btn:hover {
    background-color: rgba(255, 255, 255, 0.587);
    color: var(--font-color);
    border: 1px solid var(--font-color);
    transition: 0.3s;
    font-weight: bold;
  }
  
