* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 80px;
  background-color: #AFBCAA;
}

.logo img {
  height: 65px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333333;
  font-size: 17px;
  font-weight: 600;
  padding: 6px;

}

.nav-links a:hover {
  background-color: #F7AF89;
  border-radius: 15px;
  transition: 0.3s;
}

.favourites i {
  color: rgb(171, 8, 8);
}

.menu-container {
  position: relative;
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.menu-container:hover .nav-links {
  display: flex;
}

@media (max-width: 768px) {
  nav {
    padding-inline: 40px;
  }

  .menu-container {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: rgba(192, 198, 189, 0.792);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
  }

  .menu-container:hover .nav-links {
    display: flex;
  }
}