:root{
  --bg-color: #FCF7E4;
  --primary-color:#AFBCAA;
  --secondary-color: #F7AF89;
  --font-color: #333333;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color:var(--bg-color);
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 5px;
}
.search i{
  color: var(--font-color);
}
.search input{
  border: none;
  width: 500px;
  height: 30px;
  border-radius: 20px;
  padding: 8px;
  color: var(--font-color);
  outline: var(--primary-color);
}
.cards-body {
  margin-top: 50px;
  margin-inline: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.card-image img {
  margin: 10px;
  width: 80%;
  height: 90%;
  border-radius:50% ;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

h2 {
  color:var(--font-color);
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  color:var(--font-color);
  font-size: 14px;
}

.card-action {
  padding: 10px;
  border-radius: 0 0 12px 12px;
}

button {
  border: none;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  color: var(--font-color);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--secondary-color);
}

button:hover{
  color: var(--bg-color);
  background-color:var(--font-color);
}
@media (max-width: 768px) {
  .search input{    
  width: 300px;
  }
}