.contact-form{
  width: fit-content;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  margin-top: 85px;
}
.image-container img{
  margin-left: 50px;

}
a:hover{
  text-decoration: none;
}
@media screen and (max-width: 768px){
  .contact-form{
    flex-direction: column;
  }
  .contact-btn{
    margin-top: 10px;
  }
  .image-container img{
    margin-left: 0;
  
  }
}