.contact-form{
  width: fit-content;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  flex-direction: column;
}
.contact-form h2{
  color: #2d1c0a ;
}

.image-container img{
  margin-left: 50px;

}
a:hover{
  text-decoration: none;
}
textarea{
  resize: none;

}

.swal-ok-btn {
  background-color: var(--font-color);
  color: var(--bg-color);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}

.swal-ok-btn:hover {
  background-color: rgba(255, 255, 255, 0.587);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  transition: 0.3s;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .contact-form{
    flex-direction: column;
  }
  .contact-btn{
    margin-top: 10px;
  }
  .image-container img{
    margin-left: 0;
  
  }
}