:root{
  --bg-color: rgb(252, 247, 247);
  --primary-color:#FCF7E4;
  --secondary-color: #FCF7E4;
  --font-color:#2d1c0a;
}  
.Authcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.userBtn,
.adminBtn {
  font-family: "Montserrat", sans-serif;
    background-color: var(--font-color);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    width: 260px;
}
.userBtn:hover,
.adminBtn:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}
.userBtn:hover a,
.adminBtn:hover a {
  color: var(--font-color);
}
@media screen and (max-width: 768px) {
  .userBtn,
  .adminBtn{
    font-size: 14px;
    width: 200px;
  }
}
